body {
  background: #0f0c29;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); }

.header {
  position: relative;
  background: #fdc830;
  background: linear-gradient(to right, #fdc830, #f37335); }
  .header .content {
    z-index: 1;
    position: relative; }
    .header .content h1 {
      font-family: 'Bebas Neue', cursive;
      color: #ffffff; }
  .header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeat;
    z-index: 0;
    background: #fdc830;
    background: linear-gradient(to right, #fdc830, #f37335);
    -webkit-transform: skewY(1.5deg);
            transform: skewY(1.5deg);
    -webkit-transform-origin: top left;
            transform-origin: top left; }

.navbar-nav .nav-item .nav-link {
  color: #ffffff; }

main {
  background: #ffffff; }
