﻿$headerColourFallback: #fdc830;
$headerColourGradient: linear-gradient(to right, #fdc830, #f37335);

$bodyColourFallback: #0f0c29;
$bodyColourGradient: linear-gradient(to right, #0f0c29, #302b63, #24243e);

$white: #ffffff;

body {
    background: $bodyColourFallback;
    background: $bodyColourGradient;
}
.header {
    position: relative;
    background: $headerColourFallback;
    background: $headerColourGradient;

    .content {
        z-index: 1;
        position: relative;

        h1 {
            font-family: 'Bebas Neue', cursive;
            color: $white;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: repeat;
        z-index: 0;
        background: $headerColourFallback;
        background: $headerColourGradient;
        transform: skewY( 1.5deg );
        transform-origin: top left;
    }
}

.navbar-nav {
    .nav-item {
        .nav-link {
            color: $white;
        }
    }
}

main {
    background: $white;
}